.text-field, .text-input {
    -fx-background-color: linear-gradient(to bottom, #F0DBDB, #F0DBDB);
    -fx-background-radius: 1000;
    -fx-padding: 0.166667em 0.25em 0.166667em 0.25em;
    -fx-border-radius: 1000;
    -fx-border-width: 1px;
    -fx-border-color: #C6C6C6;
    -fx-font-size: 14px;
}

.text-field:focused, .text-input:focused {
    -fx-border-color: #6A2C70;
    -fx-border-width: 2px;
    -fx-background-color: #FFFFFF;
}
